



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card .card-body img{
  position: absolute;
  left:-20px;
  top:20px;
  width:100px;
  height: 100px;
  margin-right: 20px;
  animation: App-logo-spin infinite 20s linear;
}

.card{
  overflow: hidden;
 
}
.card .card-body{
  padding-left: 100px;
}